# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Logs
logs/
*.log

# Env
.env
.env.*

# Build outputs
dist/
build/
.next/
out/
coverage/
storybook-static/

# Mac
.DS_Store


